<ion-header>
    <ion-navbar>
      <ion-title>{{list.title}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-list-header>
        Task to do
      </ion-list-header>
        <ion-item>
          <ion-label floating>New Item</ion-label>
          <ion-input
          [(ngModel)]="itemName"
          type="text"
            (keyup.enter)="addItem()">
          </ion-input>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="list.items.length">
      <ion-list-header>
        Todo ({{list.items.length}})
      </ion-list-header>
      <ion-item-sliding *ngFor="let item of list.items; let i = index" class="animated fadeInDown"> 
        <button ion-item detail-none  (click)="toggleCheck(item)">
          <ion-icon name="square-outline" item-start *ngIf="!item.done"></ion-icon>
          <ion-icon name="checkbox-outline" item-start *ngIf="item.done"></ion-icon>
          {{item.desc}}
        </button>
        <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteItem(i)">
              <i class="fas fa-minus-square"></i>
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
  