<ion-header>
    <ion-navbar color="primary">
      <ion-title>Pending!</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <img src="../../assets/imgs/pendientes.jpg" alt="">
    <ion-list>
      <button ion-item *ngFor="let list of todoService.lists" (click)="selectedList(list)">
        {{ list.title }}
      </button>  
    </ion-list>

    <ion-fab bottom right>
      <button ion-fab (click)="addPending()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

  </ion-content>
  